{% extends "basic/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <div class="container" ng-app="App" ng-controller="Ctrl">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="padding-top: 5px; padding-bottom: 5px;">
                        <img alt="DigitalSchoolNotes" src="{% static "logo_small.png" %}" style="max-height: 100%; height: 100%;">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a ng-click="viewUsermanagement()" href="">{% trans "User Management" %}</a></li>
                        <li><a ng-click="viewBills()" href="">{% trans "Bills" %}</a></li>
                        <li><a ng-click="viewLdapConfiguration()" href="">{% trans "LDAP Server Management" %}</a></li>
                        <li><a ng-click="viewUserquotas()" href="">{% trans "User Quotas" %}</a></li>
                        <li><a ng-click="viewStatistics()" href="">{% trans "Statistics" %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="">{% trans "Logout" %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script>
        var app = angular.module("App", []);

        app.controller("Ctrl", function($scope, $http) {
            $scope.viewUsermanagement = function(){
                $http.get('/admin/usermanagement').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            $scope.viewBills = function(){
                $http.get('/admin/bills').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            $scope.viewLdapConfiguration = function(){
                $http.get('/admin/ldap').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            $scope.viewUserquotas = function(){
                $http.get('/admin/quotas').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            $scope.viewStatistics = function(){
                $http.get('/admin/statistics').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            $scope.viewUsermanagement();
        });


        app.filter("sanitize", ['$sce', function($sce) {
            return function(htmlCode){
                return $sce.trustAsHtml(htmlCode);
            }
        }]);

        $scope.testy = function(){
            alert("testy");
        }
    </script>
{% endblock %}