{% extends "basic/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <!-- NAVBAR START -->
    <div class="container" ng-app="App" ng-controller="Ctrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="padding-top: 5px; padding-bottom: 5px;">
                        <img alt="DigitalSchoolNotes" src="{% static "logo_small.png" %}" style="max-height: 100%; height: 100%;">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a ng-click="viewTimetable()" href="">{% trans "Timetable" %}</a></li>
                        <li><a ng-click="viewNotebook()" href="">{% trans "Notebooks" %}</a></li>
                        <li><a ng-click="viewAccSettings()"href="">{% trans "Account Settings" %}</a></li>
                        <li><a href="">{% trans "Upgrade now" %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top: 10px;"><div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                            </div>
                        </div></li>
                        <li><a href="">{% trans "Logout" %}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- CONTENT START -->
        <div style="padding-top: 100px;" ng-bind-html="content | sanitize">
        </div>
        <!-- CONTENT END -->
    </div>
    <script>
        var app = angular.module("App", []);

        app.controller("Ctrl", function($scope, $http) {
            // LOAD CONTENT NOTEBOOKS
            $scope.viewNotebook = function(){
                $http.get('/management/notebooks').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            // LOAD CONTENT TIMETABLE
            $scope.viewTimetable = function(){
                $http.get('/management/timetable').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            // LOAD CONTENT ACCOUNT SETTINGS
            $scope.viewAccSettings = function(){
                $http.get('/management/settings').
                        success(function(data, status, headers, config) {
                            $scope.content = data;
                        }).
                        error(function(data, status, headers, config) {
                            // log error
                        });
            }
            // First view: show timetable
            $scope.viewTimetable();
        });

        // Filter for displaying html-content correctly
        app.filter("sanitize", ['$sce', function($sce) {
            return function(htmlCode){
                return $sce.trustAsHtml(htmlCode);
            }
        }]);
    </script>
    <!-- NAVBAR END -->
{% endblock %}

{% block scripts %}

{% endblock %}