{% load i18n %}
<div style="padding-top: 80px;">
    <!-- VIDEO -->
    <div class="col-md-8">
        <!-- Tutorial: https://jonsuh.com/blog/responsive-youtube-vimeo-embed-and-html5-video-with-css/ -->
        <div class="js-video [widescreen]">
            <iframe src="https://www.youtube.com/embed/uh4dTLJ9q9o" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- REGISTRATION -->
    <div class="col-md-4">
        <!-- TODO Registration -->
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-6">
                    <input type="text" name="firstname" placeholder="{% trans "Vorname" %}"  style="width: 100%;"/>
                </div>
                <div class="col-md-6">
                    <input type="text" name="lastname" placeholder="{% trans "Nachname" %}"  style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="text" name="email" placeholder="{% trans "E-Mail Adresse" %}"  style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="text" name="pwd" placeholder="{% trans "Passwort" %}" style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="text" name="pwd_repeat" placeholder="{% trans "Passwort Wiederholung" %}"  style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="checkbox" name="name" />
                    {% trans "Ich akzeptiere die Nutzungsbedingungen" %}
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-6">
                    <button class="btn btn-success" type="submit">{% trans "Registrieren" %}</button>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </form>
    </div>
</div>