<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital School Notes</title>
    <meta name="viewport" content="width=device-width">
    <meta charset='utf-8'>
    <link rel="stylesheet" href="../../style.css">
    <link rel="shortcut icon" href="../../favicon.ico">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>

    <script src="../../js/management.js"></script>

    <base href="/management">
</head>
<body>
    <!-- NAVBAR START -->
    <div class="container" ng-app="managementApp">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://digitalschoolnotes.com:5001" style="padding-top: 5px; padding-bottom: 5px;" ng-click="$event.stopPropagation()">
                        <img alt="DigitalSchoolNotes" src="../../img/logo_small.png" style="max-height: 100%; height: 100%;">
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="timetable">Timetable</a></li>
                        <li><a ui-sref="notebooks">Notebooks</a></li>
                        <li><a ui-sref="accsettings">Account Settings</a></li>
                        <li><a href="">Upgrade now</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top: 10px;"><div id="custom-search-input">
                            <div class="input-group">
                                <input type="text" class="form-control input-lg" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                            </div>
                        </div></li>
                        <li><a href="" ng-controller="logoutCtrl" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- NAVBAR END -->
        <!-- CONTENT START -->
        <div style="padding-top: 80px;" ui-view></div>
        <!-- CONTENT END -->
    </div>
</body>
</html>