<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital School Notes</title>
    <meta name="viewport" content="width=device-width">
    <meta charset='utf-8'>
    <link rel="shortcut icon" href="../../favicon.ico">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://codemirror.net/lib/codemirror.css"/>
    <link rel="stylesheet" type="text/css" href="https://codemirror.net/theme/twilight.css"/>
    <link rel="stylesheet" type="text/css" href="../../js/lib/ngDialog/ngDialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../js/lib/ngDialog/ngDialog-theme-default.css" />
    <link rel="stylesheet" type="text/css" href="../../js/lib/jquery-ui.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-sanitize.min.js"></script>
    <script src="../../js/lib/cryptojs_sha256.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-recaptcha/2.2.5/angular-recaptcha.min.js"></script>

    <script type="text/javascript" src="../../js/lib/jquery.zoomooz.min.js"></script>
    <script src="../../js/lib/ckeditor/ckeditor.js"></script>
    <script src="../../js/lib/ngDialog/ngDialog.min.js"></script>
    <script src="../../js/lib/interactjs/interact.js"></script>
    <script src="../../js/lib/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.8.1/angular-translate-loader-static-files.min.js"></script>
    <script src="https://codemirror.net/lib/codemirror.js"></script>
    <script src="https://codemirror.net/mode/scheme/scheme.js"></script>
    <script src="https://codemirror.net/mode/javascript/javascript.js"></script>
    <script src="https://codemirror.net/mode/sql/sql.js"></script>
    <script src="https://codemirror.net/mode/xml/xml.js"></script>
    <script src ="https://codemirror.net/mode/clike/clike.js"></script>
    <script src="https://codemirror.net/mode/python/python.js"></script>
    <script src="https://codemirror.net/mode/php/php.js"></script>
    <script src="https://codemirror.net/mode/ruby/ruby.js"></script>
    <script src="https://codemirror.net/mode/shell/shell.js"></script>
    <script src="https://rawgithub.com/angular-ui/ui-codemirror/bower/ui-codemirror.min.js"></script>
    
    <script src="../../js/routes.js"></script>
    <script src="../../js/mainpage.js"></script>
    <script src="../../js/management.js"></script>
    <script src="../../js/notebookedit.js"></script>
    <link rel="stylesheet" href="../../style.css">

    <noscript>
        <style>
            html {
                display: none;
            }
        </style>
        <meta http-equiv="refresh" content="0.0;url=/nojs">
    </noscript>

    <base href="/">
</head>
<body ng-app="mainApp" ng-style="notebookView && {'background-color': '#E7E7E7'}">

<div id="wrap">
    <div>
        <div ui-view></div>
    </div>
</div>

<div ng-show="!notebookView" style="padding-top: 30px;"></div>

<!-- FOOTER START -->
<footer ng-show="!notebookView" class="footer" style="position: fixed !important;">
    <div class="container">
        <span style="margin: 20px 0px; float: left;">&copy; 2016 - DigitalSchoolNotes - All Rights Reserved
            <img ng-click="changeLanguage('de')" alt="German" src="../../img/langicon_de.png"
                 style="height: 3%; width: 3%; cursor: pointer;" id="lang_de">
            <img ng-click="changeLanguage('en')" alt="English" src="../../img/langicon_en.png"
                 style="height: 3%; width: 3%; cursor: pointer;" id="lang_en">
        </span>
        <a ui-sref="mainpage.impressum" style="margin: 20px 0px; float: right; text-decoration: none; color: black;" translate="legal_notice"></a>
    </div>
</footer>
<!-- FOOTER END -->
</body>
</html>