<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row" style="padding-bottom: 10px; padding-left:15px;">
            <h2 style="text-align:center" translate="menu_login"></h2>
        </div>
        <form ng-submit="submitLogin()" method="POST" name="login" novalidate>
            <div class="row alert alert-warning" style="margin-left: 3px; margin-right: 3px;" ng-show="error">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ login_error }}
            </div>
            <div class="row" style="padding-left:20px; color: red;" translate="error_email_needed"
                 ng-show="(submitted || login.email.$dirty) && login.email.$error.required">

            </div>
            <div class="row" style="padding-left:20px; color: red;" translate="error_password_needed"
                 ng-show="(submitted || login.pwd.$dirty) && login.pwd.$error.required">

            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input class="form-control" type="text" name="email" placeholder="{{ 'email_address' | translate }}" ng-model="email" style="width: 100%;" required/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input class="form-control" type="password" name="pwd" placeholder="{{ 'password' | translate }}" ng-model="password" style="width: 100%;" required/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-6">
                    <button type="submit" id="submit" class="btn btn-success" translate="menu_login"></button>
                </div>
                <div class="col-md-6">
                    <a ui-sref="mainpage.reset_pwd_req" translate="forgot_password"></a>
                </div>
            </div>
            <div class="row" style="padding-top: 30px;">
                <div class="col-md-12" style="text-align: center;" >
                    <p><span translate="oauth_accept_termsofuse"></span> <a href="../dsn_agb.pdf" target="_blank" translate="termsofuse"></a></p>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12" style="text-align: center;">
                    <a id="fb_login" target="_self" href="https://digitalschoolnotes.com:5004/api/oauth/fb/request"><img style="width: 75%;" src="../img/oauth_fb.png"></a>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12" style="text-align: center;">
                    <a id="google_login" target="_self" href="https://digitalschoolnotes.com:5004/api/oauth/google/request"><img style="width: 75%;" src="../img/oauth_google.png"></a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>