<div class="row">
    <!-- VIDEO -->
    <div class="col-md-2" ng-show="$parent.menu_toapp"></div>
    <div class="col-md-8">
        <!-- Tutorial: https://jonsuh.com/blog/responsive-youtube-vimeo-embed-and-html5-video-with-css/ -->
        <div class="js-video [widescreen]">
            <!--https://www.youtube.com/embed/VS60x9se7as?autoplay=1&controls=0&autohide=1&modestbranding=1&showinfo=0&html5=1&rel=0-->
            <iframe src="https://www.youtube.com/embed/VS60x9se7as?autoplay=1&controls=0&autohide=1&modestbranding=1&showinfo=0&html5=1&rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-2" ng-show="$parent.menu_toapp"></div>
    <!-- REGISTRATION -->
    <div class="col-md-4" ng-hide="$parent.menu_toapp || registerSuccess">
        <!-- TODO Registration -->
        <form ng-submit="submitRegister()" method="POST" name="register" novalidate>

            <div class="row">
                <div class="form-group">
                    <p  style="padding-left:20px; color: red;" ng-show="(submitted || register.firstname.$dirty) && register.firstname.$error.required" translate="error_firstname_needed"></p>
                    <p  style="padding-left:20px; color: red;" ng-show="(submitted || register.lastname.$dirty) && register.lastname.$error.required" translate="error_lastname_needed"></p>
                    <p  style="color: red;" ng-show="(submitted || register.firstname.$dirty) && register.firstname.$error.maxlength" translate="error_firstname_toolong"></p>
                    <p  style="color: red;" ng-show="(submitted || register.lastname.$dirty) && register.lastname.$error.maxlength" translate="error_lastname_toolong"></p>
                    <div class="col-md-6"  ng-class="{ 'has-error': register.firstname.$dirty && register.firstname.$invalid }">
                        <input class="form-control" type="text" name="firstname" placeholder="{{ 'firstname' | translate }}*" ng-model="firstname" style="height: 50px;" ng-maxlength="30" required/>
                    </div>
                    <div class="col-md-6" ng-class="{ 'has-error': register.lastname.$dirty && register.lastname.$invalid }">
                        <input class="form-control" type="text" name="lastname" placeholder="{{ 'lastname' | translate }}*" ng-model="lastname" style="height: 50px;" ng-maxlength="30" required/>
                    </div>
                </div>
            </div>
            <div class="form-group" style="padding-top:15px;" ng-class="{ 'has-error': register.email.$dirty && register.email.$invalid }">
                <p  style="color: red;" ng-show="(submitted || register.email.$dirty) && register.email.$error.required" translate="error_email_needed"></p>
                <p  style="color: red;" ng-show="(submitted || register.email.$dirty) && register.email.$error.pattern" translate="error_email_invalid"></p>
                <p style="color: red;" ng-show="emailerror">{{ email_error }}</p>
                <input class="form-control" name="email" type="text" style="height: 50px;" placeholder="{{ 'email_address' | translate }}*" ng-model="email"
                       ng-pattern="/[a-z0-9!#$%&'*+=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/" required/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': register.pwd.$dirty && register.pwd.$invalid }">
                <p  style="color: red;" ng-show="(submitted || register.pwd.$dirty) && register.pwd.$error.required" translate="error_password_needed"></p>
                <p  style="color: red;" ng-show="(submitted || register.pwd.$dirty) && register.pwd.$error.minlength" translate="error_password_tooshort"></p>
                <p  style="color: red;" ng-show="(submitted || register.pwd.$dirty) && register.pwd.$error.maxlength" translate="error_password_toolong"></p>
                <p style="color: red;" ng-show="passworderror">{{ password_error }}</p>
                <input class="form-control" type="password" ng-minlength="8" ng-maxlength="128" name="pwd" placeholder="{{ 'password' | translate }}*" ng-model="password" style="height: 50px;" required/>
            </div>
            <div class="form-group" ng-class="{ 'has-error': register.pwd_repeat.$dirty && register.pwd_repeat.$invalid }">
                <p  style="color: red;" ng-show="(submitted || register.pwd_repeat.$dirty) && register.pwd_repeat.$error.required" translate="error_password_repeat"></p>
                <input class="form-control" type="password" ng-minlength="8" name="pwd_repeat" placeholder="Passwort Wiederholung*" ng-model="password_repeat" style="height: 50px;" required/>
            </div>
            <div class="form-group">
                <p  style="color: red;" ng-show="(submitted || register.accept.$dirty) && register.accept.$error.required" translate="error_accept_termsofuse"></p>
                <div class="checkbox">
                    <label><input type="checkbox" name="accept" ng-model="accept" required /><span translate="i_accept_termsofuse"></span> <a href="../dsn_agb.pdf" target="_blank" translate="termsofuse"></a></label>
                </div>
            </div>
            <div class="form-group">
                <p style="color: red;" ng-show="captchaerror">{{ captcha_error }}</p>
                <div id="captcha" vc-recaptcha key="publicKey"></div>
            </div>
            <div class="form-group">
                <button type="submit" name="submit" class="btn btn-success" translate="register"></button>
            </div>
        </form>
    </div>
    <div class="col-md-4" ng-show="registerSuccess" style="text-align: center;">
        <div class="row">
            <img src="../img/success.jpg" style="height: auto; width: 90%;"/>
        </div>
        <div class="row">
            <b ng-bind="message" style="font-size: 18px;"></b>
        </div>
    </div>
</div>

<div id="features" class="row" style="padding-top: 30px; text-align: center;">
    <h1 translate="menu_features"></h1>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row" style="padding-top: 20px;">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="glyphicon glyphicon-book"></span>
                        </div>
                        <div class="featureinfo">
                            <h4 class="text-center">Digitale Mitschrift</h4>
                            <p>
                                Heutzutage wird es immer wichtiger Notizen  immer und überall verfügbar zu haben. Das ermöglichen wir mit unseren personalisierten, digitalen Heften.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="glyphicon glyphicon-globe"></span>
                        </div>
                        <div class="featureinfo">
                            <h4 class="text-center">Immer und überall verfügbar</h4>
                            <p>
                                Durch eine moderne Infrastruktur und ein ausgeklügeltes Konzept ist DSN fast immer und überall erreichbar. Ob gerade zu Hause beim Lernen oder während der Mathematik-Stunde, auf DSN kannst du dich verlassen!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="featureinfo">
                            <h4 class="text-center">Gemeinsames Arbeiten</h4>
                            <p>
                                In Zukunft bestimmt die Zusammenarbeit maßgeblich unseren schulischen Alltag. Ob
                                gemeinsame Referate, wissenschaftliche Arbeiten oder einfach nur Notizen. Sobald man
                                etwas als Team und gemeinsam an Dokumenten arbeiten will, wird man mit langwierigem
                                Dateiverkehr konfrontiert. Das Zauberwort heißt Collaboration-Systems! Wir ermöglichen
                                ein gleichzeitiges Arbeiten an Dokumenten.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="glyphicon glyphicon-camera"></span>
                        </div>
                        <div class="featureinfo">
                            <h4 class="text-center">Bild zu Text</h4>
                            <p>
                                Optical Character Recognition. Klingt kryptisch? Ist aber ziemlich cool. Wir machen
                                Schluss mit mühsamem Abschreiben von fremden Mitschriften! Mit unserem OCR-Feature
                                kannst du ganz einfach ein Foto der Heftseite machen und direkt als Text deinem
                                digitalen Heft hinzufügen.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 20px;">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <div class="featureinfo">
                            <h4 class="text-center">Stundenplan</h4>
                            <p>
                                Trage deine Schulstunden in den Stundenplan ein und generiere automatisch dazu deine Hefte!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="iconbox">
                        <div class="iconbox-icon">
                            <span class="glyphicon glyphicon-console"></span>
                        </div>
                        <div class="featureinfo">
                            <h4 class="text-center">Elemente</h4>
                            <p>
                                Es sind die verschiedenen Eingabeelemente die unsere Hefte ausmachen. Ob einfacher Text, Code-Snippets oder Bilder - alles möglich mit DSN!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div id="pricing" class="row" style="padding-top: 30px; padding-bottom:60px; text-align: center;">
    <h1 translate="menu_pricing"></h1>
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-4">
                <!-- PRICE ITEM -->
                <div class="panel price panel-red">
                    <div class="panel-heading  text-center">
                        <h3>FREE</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>€0 / forever</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> 250MB Speicher für Bilder</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> Werbung wird Angezeigt</li>
                        <li class="list-group-item"><i class="icon-ok text-danger"></i> begrenzte Anzahl an Heften</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-danger" ng-click="goto('top')">SIGN UP NOW!</a>
                    </div>
                </div>
                <!-- /PRICE ITEM -->
            </div>

            <div class="col-md-4">
                <!-- PRICE ITEM -->
                <div class="panel price panel-blue">
                    <div class="panel-heading arrow_box text-center">
                        <h3>PRO ACCOUNT</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>€4.99 / month</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-info"></i> 1GB Speicher für Bilder</li>
                        <li class="list-group-item"><i class="icon-ok text-info"></i> Werbefrei</li>
                        <li class="list-group-item"><i class="icon-ok text-info"></i> unbegrenzte Hefte</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-info" href="#">BUY NOW!</a>
                    </div>
                </div>
                <!-- /PRICE ITEM -->
            </div>

            <div class="col-md-4">
                <!-- PRICE ITEM -->
                <div class="panel price panel-green">
                    <div class="panel-heading arrow_box text-center">
                        <h3>EDUCATIONAL</h3>
                    </div>
                    <div class="panel-body text-center">
                        <p class="lead" style="font-size:40px"><strong>auf Anfrage</strong></p>
                    </div>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Mengenrabatt ab 50 Accounts</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> Werbefrei</li>
                        <li class="list-group-item"><i class="icon-ok text-success"></i> unbegrenzte Hefte</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-block btn-success" href="#">CONTACT US!</a>
                    </div>
                </div>
                <!-- /PRICE ITEM -->
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>