<div>
    <!-- VIDEO -->
    <div class="col-md-8">
        <!-- Tutorial: https://jonsuh.com/blog/responsive-youtube-vimeo-embed-and-html5-video-with-css/ -->
        <div class="js-video [widescreen]">
            <iframe src="https://www.youtube.com/embed/uh4dTLJ9q9o" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <!-- REGISTRATION -->
    <div class="col-md-4">
        <!-- TODO Registration -->
        <form ng-submit="submitRegister()" method="POST">
            <div class="row" style="padding-left: 10px; color: red;" ng-show="error">{{ registration_error }}</div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-6">
                    <input type="text" name="firstname" placeholder="Vorname" ng-model="firstname" style="width: 100%;"/>
                </div>
                <div class="col-md-6">
                    <input type="text" name="lastname" placeholder="Nachname" ng-model="lastname" style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="text" name="email" placeholder="E-Mail Adresse" ng-model="email" style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="password" name="pwd" placeholder="Passwort" ng-model="password" style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="password" name="pwd_repeat" placeholder="Passwort Wiederholung" ng-model="password_repeat" style="width: 100%;"/>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input type="checkbox" name="accept" ng-model="accept"/>
                    Ich akzeptiere die Nutzungsbedingungen
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-6">
                    <button type="submit" id="submit" class="btn btn-success">Registrieren</button>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </form>
    </div>
</div>