<div class="row" ng-hide="success || linkInvalid">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form ng-submit="resetPassword()" method="POST" name="resetpwd" novalidate>

            <div class="row" style="padding-top: 10px; padding-left:15px;">
                <h2 style="text-align:center" translate="set_new_password"></h2>
                <p translate="set_new_password_desc"></p>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <div class="row" style="padding-left: 15px; color: red;" ng-show="error">{{ reset_error }}</div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <p  style="color: red;" ng-show="(submitted || resetpwd.pwd.$dirty) && resetpwd.pwd.$error.required" translate="error_password_needed"></p>
                    <p  style="color: red;" ng-show="(submitted || resetpwd.pwd.$dirty) && resetpwd.pwd.$error.minlength" translate="error_password_tooshort"></p>
                    <p  style="color: red;" ng-show="(submitted || resetpwd.pwd.$dirty) && resetpwd.pwd.$error.maxlength" translate="error_password_toolong"></p>
                    <input class="form-control" id="pwd" type="password" placeholder="{{ 'password' | translate }}" name="pwd" ng-model="pwd" style="width: 100%;"
                            ng-minlength="8" ng-maxlength="128" required />
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <p  style="color: red;" ng-show="(submitted || resetpwd.pwd_repeat.$dirty) && resetpwd.pwd_repeat.$error.required" translate="error_password_repeat"></p>
                    <input class="form-control" id="pwdrepeat" type="password" placeholder="{{ 'password_repeat' | translate }}Passwort wiederholung" name="pwd_repeat" ng-model="pwdrepeat" style="width: 100%;" required />
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-6">
                    <button type="submit" id="submit" class="btn btn-danger" translate="set_new_password"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" ng-show="success" style="text-align: center;">
    <div class="row">
        <img src="../img/success.jpg" style="height: auto; width: auto;"/>
    </div>
    <div class="row">
        <b style="font-size: 22px;">Dein neues Passwort wurde erfolgreich gesetzt!</b>
    </div>
</div>

<div class="row" ng-show="linkInvalid" style="text-align: center;">
    <div class="row">
        <img src="../img/error.jpg" style="height: auto; width: auto;"/>
    </div>
    <div class="row">
        <b style="font-size: 22px;">Der Link ist nicht mehr gültig!</b>
    </div>
</div>