<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form ng-submit="resetPassword()" method="POST">

            <div class="row" style="padding-top: 10px; padding-left:15px;">
                <h2 style="text-align:center">Neues Passwort setzen</h2>
                <p>Setze hier nun bitte dein neues Passwort.</p>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <div class="row" style="padding-left: 15px; color: red;" ng-show="error">{{ reset_error }}</div>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input id="pwd" type="password" placeholder="Password" name="pwd" ng-model="pwd" style="width: 100%;">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-12">
                    <input id="pwdrepeat" type="password" placeholder="Passwort wiederholung" name="pwdrepeat" ng-model="pwdrepeat" style="width: 100%;">
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col-md-6">
                    <button type="submit" id="submit" class="btn btn-danger">Neues Passwort setzen</button>
                </div>
            </div>

        </form>
    </div>
</div>