<!-- TODO Add usermanagement view -->
<div class="row">

    <h2>Usermanagement</h2>
    <div class="col-xs-4">
        <label for="search">Search:</label>
        <input ng-model="q" ng-change="search(currentPage+1)" id="search" class="form-control" placeholder="Filter text">
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>
                <a href="#" ng-click="orderByField='email'; reverseSort = !reverseSort; sort('email',currentPage+1)">Email-Adresse</a>
                <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort">^</span>
                    <span ng-show="reverseSort">v</span></span>
            </th>
            <th>
                <a href="#" ng-click="orderByField='first_name'; reverseSort = !reverseSort; sort('first_name',currentPage+1)">Vorname</a>
                <span ng-show="orderByField == 'first_name'"><span ng-show="!reverseSort">^</span>
                    <span ng-show="reverseSort">v</span></span>
            </th>
            <th>
                <a href="#" ng-click="orderByField='last_name'; reverseSort = !reverseSort; sort('last_name',currentPage+1)">Nachname</a>
                <span ng-show="orderByField == 'last_name'"><span ng-show="!reverseSort">^</span>
                    <span ng-show="reverseSort">v</span></span>
            </th>
            <th>Berechtigungsstufe</th>
            <th>Löschen</th>
            <th>E-Mail</th>
        </tr>
        </thead>
        <tfoot>
        <td colspan="6">
            <div class="text-center">
                <ul class="pagination" align="center">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="firstPage(); next(currentPage+1)"> < </a>
                    </li>

                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage(); next(currentPage+1)">« Prev</a>
                    </li>

                    <li ng-repeat="n in range(pagedItems.length, 0, l) "
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage(); next(currentPage+1)">
                        <a href ng-bind="n + 1">1</a>
                    </li>

                    <li ng-class="{disabled: (currentPage) == l - 1}">
                        <a href ng-click="nextPage(); next(currentPage+1)">Next »</a>
                    </li>

                    <li ng-class="{disabled: currentPage == l-1}">
                        <a href ng-click="lastPage(); next(currentPage+1)"> > </a>
                    </li>
                </ul>
            </div>
        </td>
        </tfoot>

        <tbody>
        <!--<tr ng-repeat="user in users | orderBy:orderByField:reverseSort">-->
        <tr ng-repeat="user in users">
            <td>{{ user.email }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>
                <select class="form-control" ng-attr-id="{{ user.email }}" ng-model="selectedItem" ng-init="selectedItem='0'" ng-change="securityElementEdit(user.email,selectedItem,$index)">
                    <option ng-selected="user.security_level == item.security_level" ng-repeat="item in security_list"
                            value="{{ item.security_level }}">{{ item.name }}</option>
                </select>
            </td>
            <td>

                <button type="button" ng-click="deleteUserElement(user.email,user.delete_account)" class="btn btn-danger">{{ user.delete_account }}</button>
            </td>
            <td>
                <button type="button" ng-click="send(user.email, 'Test', user.last_name)" class="btn btn-info">Mail senden
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>



<script type="text/ng-template" id="securityCode">
    <div class="ngdialog-message">
        <h2>Berechtigung &auml;ndern</h2>
        <div>Soll der User {{ securitychangeemail }} wirklich auf die Berechtigungsstufe {{ security_list[securitychangevalue-1].name }} geändert werden?</div>
        <br/>
    </div>
    <div class="ngdialog-buttons mt">
        <button id="cancel" class="btn btn-danger" ng-click="update(false);closeThisDialog()"
                style="float: right;  margin-right: 15px;">Nein
        </button>
        <button type="submit" id="submit" class="btn btn-success"
                ng-click="update(true);closeThisDialog();"
                style="float: right; margin-left: 15px; margin-right: 15px;">Ja
        </button>
    </div>
</script>

<script type="text/ng-template" id="deleteUser">
    <div class="ngdialog-message">
        <h2>User l&ouml;schen</h2>
        <div>{{ deletebuttontext }}</div>
        <br/>
    </div>
    <div class="ngdialog-buttons mt">
        <button id="cancel" class="btn btn-danger" ng-click="closeThisDialog()"
                style="float: right;  margin-right: 15px;">Abbrechen
        </button>
        <button type="submit" id="submit" class="btn btn-success"
                ng-click="delete();closeThisDialog();"
                style="float: right; margin-left: 15px; margin-right: 15px;">Ja
        </button>
    </div>
</script>
