<!-- TODO Add usermanagement view -->
<div class="container">
  <h2>Usermanagement</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
          <th>Email-Adresse</th>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>Berechtigungsstufe</th>
          <th>Löschen</th>
          <th>E-Mail</th>
      </tr>
    </thead>
    <tbody ng-repeat="(key, value) in users">
            <tr>
                    <td>{{ value.email }}</td>
                    <td>{{ value.first_name }}</td>
                    <td>{{ value.last_name }}</td>
                    <td><select class="form-control">
                        <option ng-selected="{{value.security_level == 1}}" value="1">Benutzer</option>
                        <option ng-selected="{{value.security_level == 2}}" value="2">Pro Benutzer</option>
                        <option ng-selected="{{value.security_level == 3}}" value="3">Administrator</option>
                        {{ value.security_level }}
                    </select></td>
                    <td>

                        <button type="button" ng-click="delete(value.email)" class="btn btn-danger">Account löschen</button>
                    </td>
                    <td>
                        <form action="mailto:{{value.email}}" enctype="text/plain" >
                            <input type="submit" class="btn btn-info" value="Send Mail" />
                            </form>

                    </td>
            </tr>
    </tbody>
  </table>
</div>
