<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
Hallo {{firstname}},<br />
Sie sind seit einem gewissen Zeitraum inactive. Falls Sie sich nicht in den kommenden Tagen bis {{ datum }} anmelden
wird Ihr Account und alle dazugehörigen Accountdaten gelöscht.<br /><br />

<a href="{{link}}">{{ link }}</a><br /><br />

Liebe Grüße<br />
DigitalSchoolNotes<br />

----------<br />
Bitte antworte nicht auf diese automatisch generierte E-Mail!
</body>
</html>