<form ng-submit="submitEditNotebook()" method="POST">
    <div class="row" style="padding-left: 15px; color: red;" ng-show="error">{{ login_error }}</div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <span ng-bind="message" style="color: red;"></span>
            <input type="text" name="name" ng-model="name" style="width: 100%;" />
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            &Ouml;ffentlich: <input type="checkbox" name="is_public" ng-model="is_public" style="width: 100%;" ng-checked="is_public"/>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-6">
            <button type="submit" id="submit" class="btn btn-success">&Auml;nderungen speichern</button>
        </div>
        </div>
    </div>
</form>