<!-- TODO Add Timetable view-->
<h3>Stundenplan</h3>

<form ng-submit="submitTimeTable()" method="POST">
    <h3>Stundenplan</h3>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <input type="text" name="Gegenstand" placeholder="Gegenstand" ng-model="subject" style="width: 100%;"/>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <input type="text" name="Lehrer" placeholder="Lehrer" ng-model="teacher" style="width: 100%;"/>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <input type="text" name="Anfangszeit" placeholder="Anfangszeit (hh:mm)" ng-model="begin" style="width: 100%;"/>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <input type="text" name="Endzeit" placeholder="Endzeit (hh:mm)" ng-model="end" style="width: 100%;"/>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <input type="text" name="Raum" placeholder="Raum" ng-model="room" style="width: 100%;"/>
        </div>
    </div>
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-6">
            <button type="submit" id="submit" class="btn btn-success">Fertig</button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</form>