<h3>{{ len }} User wurden gefunden</h3>
<div class="container">
    <div class="list-group" ng-repeat='n in profiles'>
        <a href="/management/profile/{{ n.id }}" target="_self" class="list-group-item">
            <h4 class="list-group-item-heading">{{ n.email }}</h4>
            <p class="list-group-item-text">{{ n.first_name }} {{ n.last_name }}</p>
        </a>
    </div>
</div>
<tfoot>
        <td colspan="6">
            <div class="text-center">
                <ul class="pagination" align="center">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="firstPage(); next(currentPage+1)"> < </a>
                    </li>

                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage(); next(currentPage+1)">« Prev</a>
                    </li>

                    <li ng-repeat="n in range(pagedItems.length, 0, l) "
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage(); next(currentPage+1)">
                        <a href ng-bind="n + 1">1</a>
                    </li>

                    <li ng-class="{disabled: (currentPage) == l-1 || len == 0}">
                        <a href ng-click="nextPage(); next(currentPage+1)">Next »</a>
                    </li>

                    <li ng-class="{disabled: currentPage == l-1 || len == 0}">
                        <a href ng-click="lastPage(); next(currentPage+1)"> > </a>
                    </li>
                </ul>
            </div>
        </td>
        </tfoot>
