<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h4>{{ 'my_notebooks' | translate }}</h4>
        <div class="row" style="padding-bottom: 10px;">
            <span class="col-md-2" ng-repeat="n in notebooks" style="padding-top: 10px;">
                <div style="text-decoration: none;" ng-mouseenter="options=true" ng-mouseleave="options=false" id="{{n.name}}">
                    <div style="border-style: solid ridge ridge solid; border-width: 2px 5px 5px 2px; text-align: center; color:black; width: 120px;
                        height: 160px;">
                        <span ng-show="options" ng-click="redirectEdit(n._id['$oid'])" style="font-size: 18px; padding-top: 3px;
                            color:black; float: right; font-size: 18px; cursor: pointer;" class="glyphicon glyphicon-cog">
                        </span>
                        <span ng-show="options" ng-click="deleteNotebookDialog(n._id['$oid'])" style="cursor: pointer; font-size: 18px; color:black; float: right; padding-top: 3px;"
                              class="glyphicon glyphicon-trash" id="{{n.name}}_delete"></span>
                        <div ng-click="redirectNotebook(n._id['$oid'])" style="padding-top: 23px; width: auto; height: 100%;
                             cursor: pointer; word-wrap: break-word;" randombackground="">
                            <div style="background-color: white; margin-left: 7px; margin-right: 7px;
                            min-height: 66px; border: 1px groove black; display: flex;">
                                <span style="align-items: center; margin: auto; justify-content: center; line-height: normal; min-width:0">{{ n.name }}</span></div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="col-md-2" style="padding-top: 10px;">
                <a ng-click="redirectCreate()" style="border: 1px dashed black; text-align: center; color:black; width: 118px; height: 160px;
                padding-top: 60px; font-size: 20px; text-decoration: none; cursor: pointer;" class="glyphicon glyphicon-plus"></a>
            </span>
        </div>

        <hr>

        <h4>{{ 'shared_notebooks' | translate }}</h4>
        <div class="row" style="padding-bottom: 10px;">
            <span class="col-md-2" ng-repeat="n in notebooks_coll" style="padding-top: 10px;">
                <div style="text-decoration: none;" ng-mouseenter="options=true" ng-mouseleave="options=false">
                    <div style="border-style: solid ridge ridge solid; border-width: 2px 5px 5px 2px; text-align: center; color:black; width: 120px;
                        height: 160px;">
                        <span id="deleteColl" ng-show="options" ng-click="removeCollNotebookDialog(n._id['$oid'])"
                              style="cursor: pointer; font-size: 18px; color:black; float: right; padding-top: 3px;"
                              class="glyphicon glyphicon-remove-circle"></span>
                        <div ng-click="redirectNotebook(n._id['$oid'])" style="padding-top: 23px; width: auto; height: 100%;
                             cursor: pointer; word-wrap: break-word;" randombackground="">
                            <div style="background-color: white; margin-left: 7px; margin-right: 7px;
                            min-height: 66px; border: 1px groove black; display: flex;">
                                <span style="align-items: center; margin: auto; justify-content: center; line-height: normal; min-width:0">{{ n.name }}</span></div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<script type="text/ng-template" id="deleteNotebook">
    <div class="ngdialog-message">
        <h2>Heft löschen</h2>
        <div>{{ 'notebook_delete_warnmessage' | translate }}</div>
        <div class="ngdialog-buttons mt">
        <button id="cancel" class="btn btn-danger" ng-click="closeThisDialog()"
                style="float: right;  margin-right: 15px;">Abbrechen
        </button>
        <button type="submit" id="submit" class="btn btn-success" ng-disabled="showError"
                ng-click="deleteNotebook();closeThisDialog();"
                style="float: right; margin-left: 15px; margin-right: 15px;">Löschen
        </button>
    </div>
    </div>
</script>

<script type="text/ng-template" id="removeCollNotebook">
    <div class="ngdialog-message">
        <h2>Heft löschen</h2>
        <div>{{ 'notebook_delete_warnmessage' | translate }}</div>
        <div class="ngdialog-buttons mt">
        <button id="cancel" class="btn btn-danger" ng-click="closeThisDialog()"
                style="float: right;  margin-right: 15px;">Abbrechen
        </button>
        <button type="submit" id="submit" class="btn btn-success" ng-disabled="showError"
                ng-click="removeCollNotebook();closeThisDialog();"
                style="float: right; margin-left: 15px; margin-right: 15px;">Löschen
        </button>
    </div>
    </div>
</script>

<script type="text/ng-template" id="notebooklimit">
    <div class="ngdialog-message">
        <h2>Heftlimit</h2>
        <div>{{ 'notebook_max_warnmessage' | translate }}</div>
    </div>
</script>