<form class="row" ng-submit="submitEditNotebook()" method="POST" name="editNotebook" novalidate>
    <span class="col-md-4"></span>
    <span class="col-md-4">
        <h2 class="row" style="text-align: center;">Hefteinstellungen</h2>
        <h4 style="padding-top: 20px;">Heftname</h4>
        <div class="row">
            <div class="col-md-12">
                <span ng-bind="message" style="color: red;"></span>
                <p  style="color: red;" ng-show="(editNotebook.name.$dirty) && editNotebook.name.$error.required">Bitte gib einen Namen an.</p>
                <p  style="color: red;" ng-show="(editNotebook.name.$dirty) && editNotebook.name.$error.maxlength">Der Name ist zu lang (max. 30 Zeichen).</p>
                <input class="form-control" type="text" name="name" ng-model="name" ng-maxlength="30" required/>
            </div>
        </div>
        <h4 style="padding-top: 20px;">Sichtbarkeit</h4>
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" name="is_public" ng-model="is_public" ng-checked="is_public"/> &Ouml;ffentlich
            </div>
        </div>
        <div class="row" style="padding-top: 30px;">
                <button type="submit" id="submit" class="btn btn-success" style="margin-left: 15px;">&Auml;nderungen speichern</button>
                <button id="cancel" class="btn btn-danger" ng-click="cancelEdit()" style="float: right; margin-right: 15px;">Abbrechen</button>
        </div>
    </span>
    <span class="col-md-4"></span>
</form>