<form class="row" ng-submit="submitCreateNotebook()" method="POST" name="createNotebook" novalidate>
    <span class="col-md-4"></span>
    <span class="col-md-4">
        <h2 class="row" style="text-align: center;">Heft erstellen</h2>
        <h4 style="padding-top: 20px;">Heftname</h4>
        <div class="row">
            <div class="col-md-12">
                <span ng-bind="message" style="color: red;"></span>
                <p  style="color: red;" ng-show="(submitted || createNotebook.name.$dirty) && createNotebook.name.$error.required">Bitte gib einen Namen an.</p>
                <p  style="color: red;" ng-show="(createNotebook.name.$dirty) && createNotebook.name.$error.maxlength">Der Name ist zu lang (max. 30 Zeichen).</p>
                <input class="form-control" type="text" name="name" ng-model="name" placeholder="Heftname" ng-maxlength="30" required/>
            </div>
        </div>
        <h4 style="padding-top: 20px;">Sichtbarkeit</h4>
        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" name="is_public" ng-model="is_public" ng-checked="true"/> &Ouml;ffentlich
            </div>
        </div>
        <div class="row" style="padding-top: 30px;">
                <button type="submit" id="submit" class="btn btn-success" style="margin-left: 15px;">Heft erstellen</button>
                <button id="cancel" class="btn btn-danger" ng-click="cancelCreate()" style="float: right; margin-right: 15px;">Abbrechen</button>
        </div>
    </span>
    <span class="col-md-4"></span>
</form>